<!-- <ul>
  <li *ngFor='let user of users; let i = index'>
    {{user.id}} - {{user.name}}
    <img *ngIf='user.avatar' [src]='user.avatar'>
    <button class="btn btn-danger" (click)='onDelete(i)'>Delete</button>
  </li>
</ul> -->
<!-- <h1>{{ obs | async}}</h1> -->
<div class="container">
  <div class="form-group">
    <h3 class="text-center">Search</h3>
    <input type="text" (keyup)="searchArtist($event.target.value)" class="form-control"
      placeholder="Enter artist">
  </div>
  <div class="row ">
    <div class="col-4 mb-4 " (click)="getTopTrack(artist.id)" *ngFor="let artist of artists">
      <div class="card">
        <img height="400"
          [src]="artist.images[0]?.url || 'https://th.bing.com/th/id/OIP.e1KNYwnuhNwNj7_-98yTRwHaF7?pid=Api&rs=1'"
          class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{artist.name}}</h5>
          <p class="card-text text-truncate">{{artist.genres}}</p>
          <p class="card-text">{{artist.popularity}}</p>
          <button class="btn btn-primary">Top Tracks</button>
        </div>
      </div>
    </div>

  </div>
  <div class="row" #container>
    <ul class="list-unstyled">
      <li class="media mt-2" *ngFor="let track of topTracks">
        <img width="200" [src]="track.album.images[0]?.url" class="mr-3">
        <div class="media-body">
          <h5 class="mt-0 mb-1">{{track.name}} - {{track.type}}</h5>
          <p>Release date : {{track.album.release_date}}</p>
          <audio *ngIf="track.preview_url" controls [src]="track.preview_url"></audio>
        </div>
      </li>
    </ul>
  </div>
</div>
